/*
 Adapted from: https://codepen.io/dudleystorey/pen/PZyMrd
 */

* {
    box-sizing: border-box;
}

.owl-carousel .card img {
    object-fit: cover;
    width: 100%;
    height: 430px;
}

.owl-carousel .card {
    background-color: black;
    box-shadow: 5px 10px 18px, black;
}

.video-background {
    background: #000;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -99;
}

.video-foreground,
.video-background iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

#welcome-message {
    top: 0;
    color: #fff;
}

#showing {
    top: 0;
    color: #fff;
}

.vid-info {
    position: absolute;
    margin-top: 8%;
    margin-right: 35%;
    top: 0;
    right: 0;
    width: 33%;
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    padding: 1rem;
    font-family: Avenir, Helvetica, sans-serif;
    text-align: center;
}

.vid-info2 {
    position: absolute;
    margin-top: 24%;
    margin-right: 38%;
    top: 0;
    right: 0;
    width: 25%;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-family: Avenir, Helvetica, sans-serif;
    text-align: center;
}

.vid-info3 {
    position: absolute;
    margin-top: 55%;
    margin-right: 38%;
    top: 0;
    right: 0;
    width: 25%;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-family: Avenir, Helvetica, sans-serif;
    text-align: center;
}

.vid-info h1 {
    font-size: 2rem;
    font-weight: 700;
    margin-top: 0;
    line-height: 1.2;
}

.vid-info a {
    display: block;
    color: #fff;
    text-decoration: none;
    background: rgba(0, 0, 0, 0.5);
    transition: .6s background;
    border-bottom: none;
    margin: 1rem auto;
    text-align: center;
}

@media (min-aspect-ratio: 16/9) {
    .video-foreground {
        height: 300%;
        top: -100%;
    }
}

@media (max-aspect-ratio: 16/9) {
    .video-foreground {
        width: 300%;
        left: -100%;
    }
}

@media all and (max-width: 600px) {
    .vid-info {
        width: 50%;
        padding: .5rem;
    }

    .vid-info h1 {
        margin-bottom: .2rem;
    }
}

@media all and (max-width: 500px) {
    .vid-info .acronym {
        display: none;
    }
}